/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-Mar-2020, 3:22:54 PM
    Author     : Kevin Patel
*/
#two .list-cell {
        -fx-background-color: lightgreen;
        -fx-text-fill: black;
}
.lvAdded  {
        -fx-background-color: black;
}

#one .list-cell{
        -fx-background-color: tomato;
        -fx-text-fill: black;
}
.lvRemoved{
        -fx-background-color: black;
}

.lvRemain{
        -fx-background-color: black;
}
#three .list-cell{
        -fx-background-color: yellow;
        -fx-text-fill: black;
}

.lvFirst {
        -fx-background-color:black;
}

#four .list-cell {
        -fx-background-color:black;
        -fx-text-fill:white;
}

.lvRevised {
        -fx-background-color:blue;
}

#five .list-cell {
        -fx-background-color:blue;
        -fx-text-fill:white;
}